.App {
  text-align: center;
}

body{
  background-image: url('./guessss.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; /* Adjust this as needed */
}

img {
  width: 200px;
  height: auto;
}

h1, h2{
  color: rgb(86, 4, 86);
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
  /* width: 700px; */
}

.container input{
  border-radius: 10px;
  width: 200px;
  height: 25px;
  margin: 10px 10px;
}

.container button{
  border-radius: 5px;
  width: 200px;
  height: 25px;
  margin: 10px 10px;
  background-color: rgb(255, 157, 0);
}

.container button:hover{
  background-color: rgba(255, 157, 0, 0.413);
  cursor: pointer;
}
