.App {
  text-align: center;
}

body{
  background-image: url('./guessss.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; /* Adjust this as needed */
}

img {
  width: 200px;
  height: auto;
}

h1, h2{
  color: rgb(86, 4, 86);
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
  /* width: 700px; */
}

.container input{
  border-radius: 10px;
  width: 200px;
  height: 25px;
  margin: 10px 10px;
}

.container button{
  border-radius: 5px;
  width: 200px;
  height: 25px;
  margin: 10px 10px;
  background-color: rgb(255, 157, 0);
}

.container button:hover{
  background-color: rgba(255, 157, 0, 0.413);
  cursor: pointer;
}

.social-icons {
  display: flex;
  justify-content: center; /* Centraliza os ícones horizontalmente */
  gap: 20px; /* Espaçamento entre os ícones */
  margin-top: 20px; /* Margem superior */
}

.social-icons a {
  color: rgb(86, 4, 86); /* Cor dos ícones */
  text-decoration: none; /* Remove sublinhado dos links */
  transition: color 0.3s ease; /* Transição suave de cor */
}

.social-icons a:hover {
  color: #fff; /* Cor dos ícones ao passar o mouse */
}

p{
 color: rgb(86, 4, 86);
}